.welcomPage__guideAndButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(203, 3, 203, 0.53);
    font-size: 10px;
    color: black;
}

.welcomPage__Button{
    padding: .5%;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 5px;
}

.welcomPage__Button:hover{
    background-color: rgb(33, 97, 117);
    color: wheat;
    transition: .1s;
}

.welcompage__massage{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;
}